@layer root  { 
  * {
  margin: 0;
}

}

:root {
  --primary-color: #f8fafd;
  --black: #000000;
  --gray-50: #808080;
  --gray-30: #cecece;
  --gray-10: #eeeeee;
  --borderline: 1px solid #898989;
  --background-hover: rgba(145, 145, 145, 0.2);
  --inset-shadow: inset 0px 23px 11px -20px rgba(251, 251, 251, 0.77);
  --inset-shadow-1: inset 2px -1px 32px -32px rgba(66, 68, 90, 1);

  --primary-font: "Source Code Pro", monospace;
  --secondary-font: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font), var(--secondary-font);
}

.content-wrapper {
  display: flex;
  width: 100%;
  gap: 2rem;
}

@layer reset, panel, layout, theme, sidebar, noticeboard, assignmentpanel, root;